body{
  margin:0;
  padding:0;
  background: #81ecec;
}

.search-box{
    position: absolute;
    top:26%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height:40px;
    border-radius: 40px;
    padding:10px;
}

.search-box:hover >.search-txt{
  width:240px;
  padding : 0.6px;
}

.search-box:hover >.search-btn{
  background: white;
}

.title-box1{
  position: absolute;
  top: 8%;
  left: 41%;

  color:#2d3436;

  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 80px;
  letter-spacing: 6px;
  word-spacing: 6px;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}

.title-box2{
  position: absolute;
  top: 27%;
  left: 41%;

  color:#2d3436;

  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 80px;
  letter-spacing: 6px;
  word-spacing: 6px;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}

.search-btn{
  color: #00cec9;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-txt{
  border:none;
  background: none;
  outline: none;
  float:left;
  padding: 0 ;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
